    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef3f7;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 850px;
    height: 420px;
    background: white;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}

/* LEFT SECTION */
.left {
    width: 45%;
    background: #4CAF50;
    color: white;
    padding: 50px 35px;
    position: relative;
}

.left::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 60px;
    height: 100%;
    background: white;
    border-radius: 50%;
}

.left h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.left p {
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 30px;
}

.read-btn {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* RIGHT SECTION */
.right {
    width: 55%;
    padding: 60px 50px;
}

.right h2 {
    font-size: 32px;
    color: #555;
    margin-bottom: 25px;
}

.right input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

