<html>
    <body style="background-color: yellow;">
        <h4 style="text-align: center;" > Chopade Smart Banking – Terms of Service</h4>
        <h5>
            Welcome to Smart Banking. By creating an account or using our services, you agree to these Terms of Service ("Terms"). Please read them carefully.
        </h5>

        <h5>
            1. Eligibility:
                    You must be at least 18 years old and legally capable of entering into a contract to use Smart Banking. By using the service, you confirm that the information you provide is accurate and complete.
        </h5>
        <h5>
            2. Account Registration & Security:
                    You are responsible for maintaining the confidentiality of your login credentials.

                    You agree to notify us immediately of any unauthorized access or security breach.

                    You are responsible for all activities conducted through your account.
        </h5>
        <h5>
            3. Services Provided :

                    Smart Banking provides features such as account creation, balance viewing, deposits, withdrawals, transfers, and transaction history (features may vary).

                    We reserve the right to add, modify, suspend, or discontinue any feature at any time.
        </h5>
        <h5>
            4. User Responsibilities You agree not to:

                Use the service for illegal or fraudulent purposes.

                Attempt to gain unauthorized access to systems or data.

                Upload malicious code or misuse the platform.
        </h5>
        <h5>
            5. Transactions & Limits :

                Transaction limits may apply based on account type or regulatory requirements.

                Smart Banking is not responsible for delays caused by technical issues or third-party services.
        </h5>
        <h5>
            6. Fees & Charges :

                Any applicable fees will be clearly communicated before a transaction is completed. Fees may change with prior notice.
        </h5>
    </body>
</html>